
{% extends 'Upld/base.html' %}
{% block content %}

<div class = "main_window">

<div class = "container">
  <div class = "container_title">
  Boards
  </div>

  <div class = "container_content">
  {% for device in devices %}
    <div>
      {% for key, item in device.items %}
        {{ key }}: {{ item }}
      {% endfor%}
    </div>
  {% endfor %}
  </div>
</div>

<div class = "container">
  <div class = "container_title">
  Stuff2
  </div>

  <div class = "container_content">
  text for container!
  </div>
</div>

<div class = "container">
  <div class = "container_title">
  Stuff3
  </div>
  <div class = "container_content">
  text for container!
  </div>
</div>

</div>
{% endblock content %}
