
{% extends 'Upld/base.html' %}
{% block content %}


<div class = "main_window">

<div class = "container">
  <div class = "container_title">
  Boards
  </div>

  <div class = "container_content">
  {% for device in devices %}
    <div>
      <ul>
      {% for key, item in device.items %}
          <li>{{ key }}: {{ item }}</li>
      {% endfor%}
      <ul>
    </div>
  {% endfor %}
  </div>
</div>

<div class = "container">
  <div class = "container_title">
  Project
  </div>

  <div class = "container_content">
    <ul>
   {% for project in githubproject_list %}

        <li> {{ project.name }} </li>

   {% endfor %}
   </ul>


   <button onclick="hideOrUnhide('addproject_modal', 'block')"> Add Project </button>
  </div>
</div>

<div class = "container">
  <div class = "container_title">
  Stuff3
  </div>
  <div class = "container_content">
  text for container!
  </div>
</div>

</div>

<div class = "modal_overlay"
      id="addproject_modal"
      onclick="hideOrUnhide('addproject_modal', 'block')"
      style:"display:none;">
<div class="modal_box" onclick= "event.stopPropagation();">
  <form method = "post" action="{% url 'Upld:ProjectCreateView' %}">
    {% csrf_token %}
    <input name = "git_link" type="text" id ="id_git_link"></input>
    <input type="submit" value="Add Project"></input>
  </form>
 </div>
</div>


{% endblock content %}
