
{% extends 'Upld/base.html' %}
{% block content %}


<div class = "main_window">

<div class = "container">
  <div class = "container_title">
  Boards
  </div>

  <div class = "container_content">
  {% for device in devices %}
    <div id="device['Hardware ID']">
      {% for key, item in device.items %}
          <div class=DeSelected id="{{ key }}"> {{ key }}: {{ item }}</div>
          <br>
      {% endfor%}
    </div>
  {% empty %}
      <div>
        <div> Error: No Devices Found </div>
      </div>
  {% endfor %}
  </div>
</div>

{% if devices %}
<script type="text/javascript">
  setupSelection("Boards", [{% for device in devices %} "{{ device.port }}", {% endfor %}]);
</script>
{% endif %}


<div class = "container">
  <div class = "container_title">
  Project
  </div>

  <div class = "container_content">
    <ul>
   {% for project in githubproject_list %}

        <div class=DeSelected id="project_{{ project.name }}"> {{ project.name }} </div>
  {% empty %}
        <div> Error: No Projects Found </div>
   {% endfor %}
   </ul>

   {% if githubproject_list %}
   <script type="text/javascript">
     setupSelection("Projects", [{% for project in githubproject_list %} "project_{{ project.name }}", {% endfor %}]);
   </script>
   {% endif %}

   <button onclick="hideOrUnhide('addproject_modal', 'block')"> Add Project </button>
  </div>
</div>

<div class = "container">
  <div class = "container_title">
  Stuff3
  </div>
  <div class = "container_content">

    <div class=DeSelected id="Selectable_1"> Item 1 </div>
    <div class=DeSelected id="Selectable_2"> Item 2 </div>
  </div>
</div>
<script type="text/javascript">
  setupSelection("Test Selection", ["Selectable_1", "Selectable_2"]);
</script>


<div class = "container">
  <div class = "container_title">
  Stuff3
  </div>
  <div class = "container_content">
    <form method = "get" action="{% url 'Upld:ClassStream' %}">
      {% csrf_token %}
      <input type="submit"> run terminal </input>
      </form>

  </div>
</div>

<div class = "container">
  <div class = "container_title">
  Stuff3
  </div>
  <div class = "container_content" style="padding:0;">

    <iframe src = "{% url 'Upld:ClassStream' %}" class= "Terminal_iframe" id="Terminal_iframe1">
      </iframe>


  </div>
</div>
<script type="text/javascript">
  window.setInterval( reloadiFrame('Terminal_iframe1') , 3000);
</script>

</div>

<div class = "modal_overlay"
      id="addproject_modal"
      onclick="hideOrUnhide('addproject_modal', 'block')"
      style:"display:none;">
<div class="modal_box" onclick= "event.stopPropagation();">
  <form method = "post" action="{% url 'Upld:ProjectCreateView' %}">
    {% csrf_token %}
    <input name = "git_link" type="text" id ="id_git_link"></input>
    <input type="submit" value="Add Project"></input>
  </form>
 </div>
</div>


{% endblock content %}
